.add-company-form {
    &-input {
        border: 1px solid rgb(169, 169, 169);
        outline: none;
    }
    &-down-arrow {
        width: 2rem;
        right: 0;
    }
    [disabled] {
        background-color: $input-disabled-bg;
        resize: none;
    }
    &-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &-button {
            pointer-events: none;
            width: 2rem;
            right: 0;
            top: 0;
            &:focus {
                outline: none;
            }
        }
        &-arrow {
            transform: translateY(-5px) rotate(45deg);
            border-bottom: 1px solid #555;
            border-right: 1px solid #555;
            height: 1rem;
            width: 1rem;
        }
    }
}