.aside-block {
    --footer-height: 212px;
    min-height: calc(100vh - var(--footer-height));
    background: #f3f3f3;
    &-header {
        border-left: 5px solid transparent;
    }
    &-list {
        box-shadow: -24px 0 0 #f3f3f3 inset, -23px -1px 0 #d8d8d8 inset;
        & li {
            border-left: 5px solid transparent;
            &.active, &:hover {
                border-left-color: #36ad39;
                background: #eaeaea;
            }
            a {
                padding: 14px 0 14px 24px;
                display: block;
                color: #454545;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &-add-company {
        border: 2px solid currentColor;
        color: var(--primary-color);
        margin: 38px 24px 0 20px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            color: var(--primary-color);
            text-decoration: none;
        }
    }
}