@import 'fonts';
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'reset';
@import 'main-sprite-icons';
@import 'header';
@import 'aside';
@import "contact-form";
@import "add-company-form";
@import "room";
@import "main";
@import 'footer';
@import 'helpers';

body {
    scroll-behavior: smooth;
}

main {
    min-height: 80vh;
}

:target:before {
    // fixing bug related sticky header+anchor overflow
    visibility: hidden;
    margin-top: -140px;
    height: 140px;
    display: block;
    content: '';
}