.fs-largest {
    font-size: 3.5rem;
    @media (max-width: map-get($grid-breakpoints, 'md')) {
        font-size: 2.5rem;
    }
}

.fs-40 {
    font-size: 2.5rem;
}

.fs-36 {
    font-size: 2.25rem;
}

.fs-32 {
    font-size: 2rem;
}

.fs-24 {
    font-size: 1.5rem;
}

.fs-20 {
    font-size: 1.125rem;
}

.fs-14 {
    font-size: .9rem;
}

.fs-13 {
    font-size: .8rem;
}

.fs-12 {
    font-size: .75rem;
}