
.title {
    font-size: 3.5rem;
}

.grand-text {
    font-size: 2rem;
}

.bigger-text {
    font-size: 1.5rem;
}

.big-text {
    font-size: 1.125rem;
}

.little-text {
    font-size: .9rem;
}

.tiny-text {
    font-size: .8rem;
}