@import '../node_modules/bootstrap/scss/mixins/caret';
@import '../node_modules/bootstrap/scss/variables';

.sticky-top {
    &-caret {
        @include caret-down;
    }

    &-fixed-height {
        @include text-truncate;
        white-space: normal;
        line-height: 1rem;
        max-height: 3rem;
    }
    &-nav {
        grid-gap: .25rem;
        @media (max-width: map-get($grid-breakpoints, 'md')) {
            grid-template-columns: 50% 50%
        }
        @media (min-width: map-get($grid-breakpoints, 'md')) {
            grid-template-columns: repeat(4, min-content) auto min-content;
        }
        @media (min-width: map-get($grid-breakpoints, 'lg')) {
            grid-template-columns: repeat(7, min-content) auto min-content min-content;
        }
        a {
            text-decoration: none;
            color: #000;
        }
    }
    
    &-language {
        grid-column-end: -1;
        &-container {
            display: none;
        }
    }
}

