@import '../node_modules/bootstrap/scss/mixins/caret';

.sticky-top {
    border-bottom: 1px solid #eaeaea;
    &-green-button {
        border: 2px solid currentColor;
    }

    &-caret {
        @include caret-down;
    }

    &-fixed-height {
        @include text-truncate;
        line-height: normal;
        white-space: normal;
        max-height: 3rem;
    }
    &-nav {
        grid-template-columns: 1px auto auto 1px auto auto 1px auto 1px auto;
        grid-gap: 20px;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    
    &-divider {
        border-left: 1px solid rgba(141, 141, 141, .26);
        height: 50px;
    }
}

