@import '../node_modules/bootstrap/scss/mixins/size';

.icon {
    &-phone {
        background-image: url(../img/main-sprite.svg);
        background-position: 0px -34px;
        background-size: 38px;
        @include size(32px);
    }
    
    &-chat {
        background-image: url(../img/main-sprite.svg);
        background-position: 0 0;
        background-size: 38px;
        @include size(32px);
    }
    &-footer-phone {
        background-image: url(../img/main-sprite.svg);
        background-position: 0px -90px;
        background-size: 38px;
        @include size(40px);
    }

    &-facebook {
        background-image: url(../img/main-sprite.svg);
        background-position:  -5px 253px;
        background-size: 46px;
    }
    
    &-youtube {
        background-image: url(../img/main-sprite.svg);
        background-position: -5px 219px;
        background-size: 46px;
    }
    
    &-chair {
        background-image: url(../img/main-sprite.svg);
    }
    
    &-free-chair {
        background-image: url(../img/main-sprite.svg);
    }
    
    &-coins {
        background-image: url(../img/main-sprite.svg);
        background-position: -3px -98px;
        background-size: 50px;
        @include size(50px);
        min-width: 50px;
    }
    
    &-people {
        background-image: url(../img/main-sprite.svg);
        background-position: 0 -135px;
        box-shadow: inset 0 9px #fff;
        background-size: 50px;
        @include size(50px);
        min-width: 50px;
    }
    
    &-hummer {
        background-image: url(../img/main-sprite.svg);
        background-position: -4px -174px;
        box-shadow: inset 0 9px #fff;
        background-size: 50px;
        @include size(50px);
        min-width: 50px;
    }
    
    &-easy-register {
        background-image: url(../img/main-sprite.svg);
        background-position: -10px -505px;
        @include size(82px, 79px);
        background-size: 120px;
        transform: scale(1.25);
    }
    
    &-part-of {
        background-image: url(../img/main-sprite.svg);
        background-position: -12px -589px;
        background-size: 120px;
        transform: scale(1.25);
        @include size(96px);
    }
    
    &-free-consulting {
        background-image: url(../img/main-sprite.svg);
        background-position: -13px -816px;
        @include size(86px, 92px);
        transform: scale(1.25);
        background-size: 120px;
    }

    &-high-security {
        background-image: url(../img/main-sprite.svg);
        background-position: -11px -896px;
        @include size(88px, 108px);
        transform: scale(1.25);
        background-size: 120px;
    }

    &-support {
        background-image: url(../img/main-sprite.svg);
        background-position: -12px -812px;
        @include size(100px, 80px);
        background-size: 109px;
        transform: scale(1.25);
    }
    
    &-settings {
        background-image: url(../img/main-sprite.svg);
        background-position: -12px -812px;
        @include size(100px, 80px);
        background-size: 109px;
        transform: scale(1.25);
    }
    &-demo {
        background-image: url(../img/main-sprite.svg);
        background-position: -12px -812px;
        @include size(100px, 80px);
        background-size: 109px;
        transform: scale(1.25);
    }
    &-tooltip {
        background-image: url(../img/main-sprite.svg);
        background-size: 26px;
        width: 32px;
        height: 20px;
        background-position: 4px -463px;
        background-repeat: no-repeat;
        display: inline-block;
    }
}