.main-page {
    background: url(../img/main-page/bg-grid.png) no-repeat;
    min-height: 370px;

    &-green-block {
        background: var(--primary-color);
        color: #fff;
    }
    &-link-button {
        padding: 22px 40px 16px;
        background: #ffd200;
        cursor: pointer;
    }
    &-info-block {
        & > .col-12:not(:last-child) {
            border-right: 1px solid rgba(182,182,182, .26);
            
        }
    }
}