.registry-sidebar {
    &-subscribe-block {
        background: #e5e5e5;
    }
    &-subscribe {
        &:before {
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;
            transform: rotate(45deg);
            position: relative;
            height: 1rem;
            width: 1rem;
            content: '';
            left: -4px;
        }
    }
    &-small-input {
        width: calc((-12px + 100%) / 2);
    }
    &-fixed-space::after {
        content: "–";
    }
    
}
