@import './variables';

.registration-form {
    grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
    grid-auto-flow: dense;
    grid-gap: 1.5rem;
    &-placeholder-color {
        color: $input-label-color;
    }
    @media (min-width: map-get($grid-breakpoints, 'md')) {
        &-email {
            grid-column: 2 span;
        }
        &-from-start {
            grid-column: 1 / 1;
        }
        &-agreement {
            grid-column: 1 / 3;
        }
    }
   
}