.room {
    padding-left: 38px;
    section:not(:target) {
        display: none;
    }
    h2 {
        padding-bottom: 10px;
        padding-top: 14px;
    }
    
    aside {
        padding-top: 14px;
    }
    
    &-fieldset-p {
        margin-bottom: 13px;
        color: #7f7f7f;
    }
    
    &-legend {
        padding-bottom: 5px;
        padding-top: 30px;
    }
    &-assign-btn {
        background: url(../img/desk-chair2.png) no-repeat 10px 6px;
        border: 1px solid #d0d0d0;
        margin-bottom: 10px;
        color: #454545;
    }
    &-is-company-main {
        background: url(../img/desk-chair.png) var(--yellow) no-repeat 10px 6px;
    }
    &-assign-label {
        justify-content: space-evenly;
        background-color: #ececec;
        height: 160px;
        &:before {
            content: url(../img/briefcase.png);
        }
    }

    :disabled {
        background: #f8f6f6;
    }
    :focus {
        outline: none;
    }
    
    &-input-control {
        input {
            border: 1px solid #d5d5d5;
            padding: 10px;
        }
    }
    &-textarea-control {
        span {
            left: 15px;
            top: 17px;
        }
        
        textarea {
            box-shadow: inset 1px 1.7px 2px 0 rgba(9, 12, 18, .09);
            padding: 15px 15px 15px 50px;
            border: 1px solid #d5d5d5;
            line-height: normal;
            overflow: hidden;
            resize: none;
            width: 520px;
        }
        
        a {
            border-bottom: 1px dashed currentColor;
            transform: translate(8px, 15px);
            text-decoration: dashed;
            align-self: baseline;
            color: #1d75c1;
        }
    }
    &-submit {
        color: #5c5c5c;
    }
}

