/*
$grid-breakpoints: (
        xs: 0,
        sm: 320px,
        md: 560px,
        lg: 960px,
        xl: 1280px
) !default;
*/

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
);

$headings-margin-bottom: 0;
$badge-border-radius: 4px;
$enable-rounded: false;
$btn-line-height: 1;
$grid-gutter-width: 0;
$caret-width: 6px;
$mark-padding: 0;
$mark-bg: #fff;
$green: #36ad39;
$hr-border-width: 2px;
$hr-border-color: $green;
$btn-focus-box-shadow: none;
$input-focus-box-shadow: none;
$input-disabled-bg: #f8f6f6;
$yellow: #ffd200;
$lightgrey: #F1F4F1;
$status-danger: #ff3c3c;
$status-warning: #ffb01e;
$status-success: #11bd86;
$status-trading: #FA71E6;
$status-reviewed: #8483FF;
$light: #eaeaea;
$header-grey: #E8E8E8;
$theme-colors: (
    "lightgrey": $lightgrey,
    "header-grey": $header-grey,
    "yellow": $yellow,
    "green": $green,
    "treaty": $status-danger,
    "reviewed": $status-reviewed,
    "trading": $status-trading,
    "moderation": $status-warning,
    "suggestion": $status-success,
);

:root {
    font-family: Tahoma;
}