$grid-breakpoints: (
        xs: 0,
        sm: 320px,
        md: 560px,
        lg: 960px,
        xl: 1280px
) !default;
$border-color: #fff;
$mark-bg: #fff;
$mark-padding: 0;
$badge-border-radius: 4px;
$headings-margin-bottom: 0;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
) !default;
$grid-gutter-width: 0;
:root {
    font-family: Tahoma;
    font-size: 16px;
    --primary-color: #36ad39;
}