$grid-breakpoints: (
        xs: 0,
        sm: 320px,
        md: 560px,
        lg: 960px,
        xl: 1280px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
) !default;
$hr-border-width: 2px;
$hr-border-color: var(--primary-color);
$headings-margin-bottom: 0;
$badge-border-radius: 4px;
$grid-gutter-width: 0;
$border-color: #fff;
$caret-width: 6px;
$mark-padding: 0;
$mark-bg: #fff;
:root {
    font-family: Tahoma;
    font-size: 16px;
    --primary-color: #36ad39;
}