@import './variables';

.checkbox {
  $this: &;
  &-container {
    --border-width: 1px;
    --shift: 10px;
    transition: var(--transition-time);
    position: relative;
    &:hover > #{$this}-label:before {
      border-color: var(--inp-border-h-color);
    }
  }

  &-label {
    align-items: center;
    position: relative;
    user-select: none;
    cursor: pointer;
    display: flex;
    &:before {
      border: 1px solid var(--checkbox-border-color);
      min-width: var(--checkbox-size);
      height: var(--checkbox-size);
      transition: border-color 1s;
      align-self: flex-start;
      display: block;
      content: '';
    }
    &:after {
      width: calc(calc(var(--checkbox-size) - var(--shift)) / 2);
      height: calc(var(--checkbox-size) - var(--shift));
      border-bottom: var(--border-width) solid var(--green);
      border-right: var(--border-width) solid var(--green);
      top: calc(var(--border-width) * 2);
      transition: .5s ease-in;
      transform: rotate(45deg);
      left: var(--shift);
      position: absolute;
      display: block;
      content: '';
      opacity: 0;
    }
    input[id]:checked ~ & {
      &:before {
        border-color: var(--green);
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
