@import './variables';

.checkbox {
  --transition-time: .2s;
  $this: &;
  &-container {
    transition: var(--transition-time);
    position: relative;
    &:hover > #{$this}-label:before {
      border-color: var(--inp-border-h-color);
    }
  }

  &-label {
    align-items: center;
    position: relative;
    user-select: none;
    cursor: pointer;
    display: flex;
    &:before {
      border: 1px solid var(--checkbox-border-color);
      transition: border-color 1s;
      align-self: flex-start;
      margin-right: 22px;
      min-width: 1rem;
      display: block;
      height: 1rem;
      width: 1rem;
      content: '';
    }
    &:after {
      transition: .5s ease-in;
      border-bottom: 1px solid var(--green);
      border-right: 1px solid var(--green);
      transform: rotate(45deg);
      position: absolute;
      display: block;
      height: 10px;
      width: 5px;
      content: '';
      opacity: 0;
      left: 6px;
      top: 2px;
    }
    input[id]:checked ~ & {
      &:before {
        border-color: var(--green);
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
