@import './variables';

.checkbox {
  --transition-time: .2s;
  $this: &;
  &-container {
    transition: var(--transition-time);
    position: relative;
    &:hover > #{$this}-label:before {
      border-color: var(--inp-border-h-color);
    }
  }

  &-label {
    align-items: center;
    position: relative;
    user-select: none;
    cursor: pointer;
    display: flex;
    &:before {
      border: 1px solid var(--checkbox-border-color);
      min-width: var(--checkbox-size);
      transition: border-color 1s;
      height: var(--checkbox-size);
      width: var(--checkbox-size);
      align-self: flex-start;
      margin-right: 22px;
      display: block;
      content: '';
    }
    &:after {
      transition: var(--transition-time) ease-in;
      border: 1px solid var(--green);
      transform-origin: 6px 20px;
      border-left: transparent;
      border-top: transparent;
      transform: rotate(45deg);
      position: absolute;
      display: block;
      content: '';
      opacity: 0;
      left: 1px;
      top: 1px;
    }
    input[id]:checked ~ & {
      &:before {
        border-color: var(--green);
      }
      &:after {
        height: 14px;
        width: 8px;
        opacity: 1;
      }
    }
  }
}
