@import '../variables';
@import '../../node_modules/bootstrap/scss/mixins/text-truncate';
@import '../helpers';

.control {
  --transform: translateY(calc(var(--shift) * -1)) scale(.75, .75);
 --transition-time: .2s;
  --icon-size: 1rem;
  --shift: 10px;
  min-height: var(--inp-height);
  position: relative;
  cursor: pointer;
  &-errors {
    color: var(--main-danger-color);
    text-indent: var(--inp-indent);
    font-size: 13px;
    margin-top: 5px;
  }
  &-label {
    transform-origin: var(--inp-indent);
    transition: var(--transition-time);
    text-indent: var(--inp-indent);
    color: var(--inp-label-color);
    height: var(--inp-height);
    width: calc(100% - 36px);
    @include text-truncate;
    align-items: center;
    position: absolute;
    user-select: none;
    font-size: 17px;
    display: flex;
    top: 0;
    &-icon {
      background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18"><defs><path id="a" d="M25,222.585786 L31.363961,216.221825 C31.7544853,215.831301 32.3876503,215.831301 32.7781746,216.221825 C33.1686989,216.61235 33.1686989,217.245515 32.7781746,217.636039 L26.4142136,224 L32.7781746,230.363961 C33.1686989,230.754485 33.1686989,231.38765 32.7781746,231.778175 C32.3876503,232.168699 31.7544853,232.168699 31.363961,231.778175 L25,225.414214 L18.636039,231.778175 C18.2455147,232.168699 17.6123497,232.168699 17.2218254,231.778175 C16.8313011,231.38765 16.8313011,230.754485 17.2218254,230.363961 L23.5857864,224 L17.2218254,217.636039 C16.8313011,217.245515 16.8313011,216.61235 17.2218254,216.221825 C17.6123497,215.831301 18.2455147,215.831301 18.636039,216.221825 L25,222.585786 Z"/></defs><g fill="none" fill-rule="evenodd" transform="translate(-16 -215)"><use fill="#D8D8D8" xlink:href="#a"/><path stroke="#979797" d="M31.7175144,216.575379 L25,223.292893 L18.2824856,216.575379 C18.0872234,216.380117 17.7706409,216.380117 17.5753788,216.575379 C17.3801167,216.770641 17.3801167,217.087223 17.5753788,217.282486 L24.2928932,224 L17.5753788,230.717514 C17.3801167,230.912777 17.3801167,231.229359 17.5753788,231.424621 C17.7706409,231.619883 18.0872234,231.619883 18.2824856,231.424621 L25,224.707107 L31.7175144,231.424621 C31.9127766,231.619883 32.2293591,231.619883 32.4246212,231.424621 C32.6198833,231.229359 32.6198833,230.912777 32.4246212,230.717514 L25.7071068,224 L32.4246212,217.282486 C32.6198833,217.087223 32.6198833,216.770641 32.4246212,216.575379 C32.2293591,216.380117 31.9127766,216.380117 31.7175144,216.575379 Z"/></g></svg>');
      top: calc(calc(var(--inp-height) - var(--icon-size, 24px)) / 2);
      transform: scale(var(--icon-scale-koef, 1));
      height: var(--icon-size, 24px);
      width: var(--icon-size, 24px);
      position: absolute;
      right: 24px;
    }
    .control-input:focus + & {
      transform: var(--transform);
    }
  }
  &-input {
    padding-right: calc(var(--icon-size) + var(--inp-indent) + 12px);
    border: var(--inp-border-width) solid var(--inp-border-color);
    text-indent: calc(var(--inp-indent) - var(--inp-border-width));
    transition: background-color var(--transition-time);
    color: var(--main-black-color);
    height: var(--inp-height);
    @include text-truncate;
    box-sizing: border-box;
    font-size: 17px;
    width: 100%;
    /*&[type="file"]::-webkit-file-upload-button  {
      -webkit-appearance: none;
      all: unset;
      width: 0;
      padding: 10px 0 0 20px;
    }*/
    &:disabled {
      background-color: var(--inp-dis-bg-color);
    }
    &:hover {
      border-color: var(--inp-border-h-color);
    }
    &::placeholder {
      color: transparent;
    }

    &:valid, &[value]:disabled {
      padding-top: var(--shift);
      & + .control-label {
        transform: var(--transform);
      }
    }
    &:focus {
      border-color: var(--inp-border-f-color);
      padding-top: var(--shift);
      outline: none
    }
  }
}