$radio-border-h-color: #a0a0a0 !default;
$radio-border-color: #d7d7d7 !default;
$radio-container-size: 16px;
$radio-circle-size: 6px;


.radio {
    &-label {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        &:hover:before {
            border-color: $radio-border-h-color;
        }
        input:checked + &:after {
            background-color: $green;
        }
        &:after {
            transition: background-color .3s;
            transform: translate(5px, 5px);
            height: $radio-circle-size;
            width: $radio-circle-size;
            position: absolute;
            border-radius: 50%;
            content: '';
            left: 0;
        }
        
        input:checked + &:before {
            border-color: $green;
        }
        
        &:before {
            border: 1px solid $radio-border-color;
            transition: border-color .3s;
            height: $radio-container-size;
            width: $radio-container-size;
            vertical-align: middle;
            display: inline-block;
            border-radius: 50%;
            margin-right: 10px;
            content: '';
        }
    }
}