$radio-border-h-color: #a0a0a0 !default;
$radio-border-color: #d7d7d7 !default;
$radio-container-size: 16px;
$radio-circle-size: 6px;
@import './variables';

.radio {
    &-label {
        position: relative;
        margin-bottom: 32px;
        align-items: center;
        cursor: pointer;
        display: flex;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover:before {
            border-color: var(--radio-border-h-color);
        }
        input:checked + &:after {
            background-color: var(--green);
        }
        &:after {
            left: calc(calc(var(--radio-container-size) - var(--radio-circle-size)) / 2);
            top: calc(50% - calc(var(--radio-circle-size)) / 2);
            transition: background-color var(--transition-time);
            height: var(--radio-circle-size);
            width: var(--radio-circle-size);
            position: absolute;
            border-radius: 50%;
            display: block;
            content: '';
        }
        
        input:checked + &:before {
            border-color: var(--green);
        }
        
        &:before {
            min-width: calc(var(--radio-container-size) + var(--radio-border-width));
            transition: border-color var(--transition-time);
            border: 1px solid var(--radio-border-color);
            height: var(--radio-container-size);
            width: var(--radio-container-size);
            border-radius: 50%;
            margin-right: 20px;
            content: '';
        }
    }
}